@font-face {
  font-family : 'FontAwesome';
  src         : url('../fonts/font-awesome/fonts/fontawesome-webfont.eot?32940503');
  src         : url('../fonts/font-awesome/fonts/fontawesome-webfont.eot?32940503#iefix') 
        format('embedded-opentype'), url('../fonts/font-awesome/fonts/fontawesome-webfont.woff?32940503') 
        format('woff'), url('../fonts/font-awesome/fonts/fontawesome-webfont.ttf?32940503') format('truetype'), 
        url('../fonts/font-awesome/fonts/fontawesome-webfont.svg?32940503#FontAwesome') format('svg');
  font-weight : normal;
  font-style  : normal;
}